#historicalpages { 
    display: block;
    color:black;
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    padding: 10px;
    border-radius: 3px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    border-width: 0.05em;
}

#header { 
    display: block;
    color:black;
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    border-width: 0.05em;
}

#footer { 
    display: block;
    color:black;
    background-color: white;
    border-style: solid;
    border-color: lightgrey;
    padding: 5px;
    border-radius: 5px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75em;
    border-width: 0.05em;
}